<div class="d-flex" id="wrapper">

  <div class="bg-grey border-right" id="sidebar-wrapper">
    <div class="list-group list-group-flush">
      <a routerLink="create-socio" routerLinkActive="active" class="list-group-item list-group-item-action bg-grey">Cadastrar Sócios</a>  
      <a routerLink="socios" routerLinkActive="active" class="list-group-item list-group-item-action bg-grey">Listar Sócios</a>
      <a routerLink="create-dependente" routerLinkActive="active" class="list-group-item list-group-item-action bg-grey">Cadastrar Dependentes</a>
      <a routerLink="dependentes" routerLinkActive="active" class="list-group-item list-group-item-action bg-grey">Listar Dependentes</a>

    </div>
  </div>

  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-8 mb-lg-10">
            <h1 class="mt-6">{{title}}</h1>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <p>Apresento aqui o teste para desenvolvedor(a) Fullstack na empresa NPI-SISTEMAS, sistema para socios e
        dependentes</p>
      <p>Teste feito com as tecnologias Spring Boot, Angular e Mysql.</p>
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </div>
   </div>

</div>
<footer class="footer">
  <div class="container">
    <span>Desenvolvedora de Software Audrey Albuquerque</span>
  </div>
</footer>