<br>
<h1>Detalhes Do Socio com nome : {{socio.nome}}</h1>

<table class = "table table-striped">

    <thead>
        <tr>
            <th>id</th>
            <th>Nome Completo</th>
            <th>Renda</th>
            <th>Ativo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> {{socio.id}} </td>
            <td> {{socio.nome}} </td>
            <td> {{socio.renda}} </td>
            <td>{{ socio.ativo? "Ativo" : "Inativo"}}</td>
        </tr>
    </tbody>

</table>




