<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Atualizar Sócio </h3>
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">
                  
                    <div class="form-group">
                        <label> Nome Completo</label>
                        <input type="text" class="form-control" id="nome" [(ngModel)]="socio.nome"
                            name="nome">
                    </div>

                    <div class="form-group">
                        <label> Renda</label>
                        <input type="text" class="form-control" id="renda" [(ngModel)]="socio.renda"
                            name="renda">
                    </div>

                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <br>
                            <input class="form-check-input" id="ativo" [(ngModel)]="socio.ativo" type="radio" name="inlineRadioOptions" value="true">
                            <label class="form-check-label" id="ativo" [(ngModel)]="socio.ativo" for="ativo">Ativo</label>
                        </div>
        
                        <div class="form-check form-check-inline">
                            <br>
                            <input class="form-check-input" id="ativo" [(ngModel)]="socio.ativo" type="radio" name="inlineRadioOptions" value="false">
                            <label class="form-check-label" id="ativo" [(ngModel)]="socio.ativo" for="ativo">Inativo</label>
                        </div>
                    </div>

                    <br />
                    <button class="btn btn-success" type="submit">Atualizar</button>

                </form>
            </div>
        </div>
    </div>
</div>