    <br>
    <h1>Detalhes do Dependete com nome : {{dependente.nome}}</h1>
    
    <table class = "table table-striped">
    
        <thead>
            <tr>
                <th>id</th>
                <th>Nome Completo</th>
                <th>Idade</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> {{dependente.id}} </td>
                <td> {{dependente.nome}} </td>
                <td> {{dependente.idade}} </td>
            </tr>
        </tbody>
    
    </table>
    

    