<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Cadastrar Associado </h3>
            <hr />
            <div class="card-body">
               
                <form (ngSubmit)="onSubmit()">
                    
                    <div class="form-group">
                        <label>Nome Completo</label>
                        <input type="text" class="form-control" id="nome" [(ngModel)]="socio.nome"
                            name="nome">
                    </div>

                    <div class="form-group">
                        <label>Renda</label>
                        <input type="text" class="form-control" id="renda" [(ngModel)]="socio.renda"
                            name="renda">
                    </div>
                    <br>

                    <div class="form-group">
                       

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="ativo" [(ngModel)]="socio.ativo" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="true">
                        <label class="form-check-label" id="ativo" [(ngModel)]="socio.ativo" for="inlineRadio1">Ativo</label>
                    </div>
    
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="false">
                        <label class="form-check-label" for="inlineRadio2">Inativo</label>
                    </div>
            
                    </div>

                    <br />
                    <button class="btn btn-success" type="submit">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</div>