<br>

<div class = "row">
    <h2>Associados</h2>
    <router-outlet></router-outlet>
    
</div>

<table class = "table table-striped">
    <thead>
        <tr>
            <th> id</th>
            <th> Nome Completo </th>
            <th> Renda R$</th>
            <th> Ativo</th>
            <th> Opções</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let socio of socios" >
            <td> {{ socio.id }} </td>
            <td> {{ socio.nome }} </td>
            <td> {{ socio.renda }} </td>
            <td> {{ socio.ativo? "Ativo" : "Inativo"}} </td>
            <td>
                <button style="margin: 0.5em;" (click)="socioDetails(socio.id)" class="btn btn-info">Detalhes</button>
                <button style="margin: 0.5em;"  (click)="socioUpdate(socio.id)" class="btn btn-warning">Atualizar</button>
                <button style="margin: 0.5em;"  (click)="socioDelete(socio.id)" class="btn btn-danger">Deletar</button>
            </td>
        </tr>
    </tbody>
</table>
